<html>
  <head>
    <script defer src="../static/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>Satellite Images Processing</title>
  </head>
  <body>
      <h1>План структуры</h1>
      <p><img src = "../static/plan.png"> </p>
      <p><button type="button" onclick="analyze('map.marker_1', 'map.marker_2', document.getElementById('date').value);">Analyze</button></p>
      <p><input type="date" id="date" value= "{{today}}"></p>
  </body>
</html>